{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row backcolor">
    <div class="col-6 img_home image_home_register"></div>
    <div class="col-4 form">
        <form class="offset-6">
    <h2 class="h3 mb-3">Inscription</h2>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-warning mt-2">S'inscrire</button>
    {{ form_end(registrationForm) }}
</form>
    </div>
</div>

{% endblock %}
