{% extends 'base.html.twig' %}
{% form_theme formDetailsVehicle "form_style.html.twig" %}

{% block title %}Fiche technique{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success col-12">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger col-12">{{ message }}</div>
{% endfor %}

{# Intégration des photos miniatures et de la fiche signalétique #}
<h2 class="text-center my-3">Fiche technique</h2>

<div class="d-flex flex-wrap justify-content-center justify-content-md-between">
    {# Affichage des photos minatures disponibles (entre 1 et 5 photos) sur une ligne #}
    {% for picture in vehicle.pictures %}
        {# <p class="thumbnail"> #}
        <div data-img="{{ asset('images/pictures/' ~ picture) }}" class="mw-100 my-1 img-thumbnail btn viewer-event"
            style="background-image: url('{{ asset('images/pictures/' ~ picture) }}');
            height:150px; width:275px; background-size: cover; background-position: center center;"
        ></div>
        {# </p> #}
    {% endfor %}
</div>

{# flex justify-content-center in phone screen, but next, in small screen it is justify-content-around #}
<div class="d-flex flex-wrap justify-content-center justify-content-sm-around">

    {# Bloc caractéristiques techniques #}
    {# phone screen col-10, height:100% && minimum-width:100% #}
    <div class="col-10 col-sm-3 border border-warning my-2 p-3 h-100 mw-100">
        <h3 class="text-uppercase font-weight-bold">Caractéristiques techniques</h3>
        <ul class="list-unstyled text-truncate">
            <li>Marque : {{ vehicle.brand }}</li>
            <li>Modèle : {{ vehicle.model }}</li>
            <li>Année : {{ vehicle.yearProduced }}</li>
            <li>Architecture moteur : {{ vehicle.engineType }}</li>
            <li>Cylindrée : {{ vehicle.engineDisplacement }} cm3</li>
            <li>Puissance : {{ vehicle.enginePower }} ch</li>
            <li>Vitesse maxi : {{ vehicle.maxSpeed }} km/h</li>
            <li>Nombre de places : {{ vehicle.maxSeats }} places</li>
        </ul>
    </div>

    {# Bloc coordonnées propriétaire #}
    <div class="col-10 col-md-3 border border-warning my-2 p-3 h-100 mw-100">
        <h3 class="text-uppercase font-weight-bold">Coordonnées du propriétaire</h3>
        <ul class="list-unstyled text-truncate">
            <li>Nom : {{ vehicle.owner.lastname }}</li>
            <li>Prénom : {{ vehicle.owner.firstname }}</li>
            <li>Localisation : {{ vehicle.owner.postcode }} {{ vehicle.owner.city }}</li>
            <li>Téléphone : {{ vehicle.owner.phoneNumber }}</li>
            <li>Email : {{ vehicle.owner.email }}</li>
            <li>Assurance : {{ vehicle.owner.insuranceName }}</li>
        </ul>
    </div>

    {% if (verificationUserOwnage) %}
    <div class="col-10 col-sm-3">
        <h2 class="text-center my-3">Modifier véhicule</h2>
            {{ form(formDetailsVehicle) }}
    </div>
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
    {# Affichage photo en grand format en overlay #}
    <script src="{{ asset('js/viewer.js') }}"></script>
{% endblock %}
