{% extends 'base.html.twig' %}

{% block title %}Fiche technique{% endblock %}

{% block body %}

{#Intégration de la fiche technique#}
<div class="row backcolor">
    <div class="col-md-12 text-center">
        <h2>Fiche technique</h2>
    </div>
</div>

<div class="row backcolor">
    <div class="col-12 col-md-10 offset-md-1 mt-5">
        <div class="d-flex flex-wrap justify-content-center">
            {% for i in 0..4 %}
                {% if vehicle.pictures[i] is not empty %}
                    <p class="thumbnail mw-100 mb-2 m-sm-3">
                        <div class="mw-100" style="background-image: url('{{ asset('images/pictures/' ~ vehicle.pictures[i]) }}');height:150px; width:275px; background-size: cover; background-position: center center;">
                        </div>
                    </p>
                {% endif %}
            {% endfor %}

        </div>

        <div class="d-flex flex-wrap align-items-content justify-content-center mt-5 mb-5 car-detail-gen-box">
            <div class="col-4 car-detail-tech">
                <p><span>Caractéristiques techniques</span></p>
                <p>Marque : {{ vehicle.brand }}</p>
                <p>Modèle : {{ vehicle.model }}</p>
                <p>Année : {{ vehicle.yearProduced }}</p>
                <p>Architecture moteur : {{ vehicle.engineType }}</p>
                <p>Cylindrée : {{ vehicle.engineDisplacement }} cm3</p>
                <p>Puissance : {{ vehicle.enginePower }} ch</p>
                <p>Vitesse maxi : {{ vehicle.maxSpeed }} km/h</p>
                <p>Nombre de places : {{ vehicle.maxSeats }} places</p>
            </div>

            <div class="col-4 offset-1 car-detail-info">
                <p><span>Coordonnées du propriétaire</span></p>
                <p>Nom : {{ vehicle.owner.lastname }}</p>
                <p>Prénom : {{ vehicle.owner.firstname }}</p>
                <p>Localisation : {{ vehicle.owner.postcode }} {{ vehicle.owner.city }}</p>
                <p>Téléphone : {{ vehicle.owner.phoneNumber }}</p>
                <p class="email">Email : {{ vehicle.owner.email }}</p>
                <p>Assurance : {{ vehicle.owner.insuranceName }}</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}