{% extends 'base.html.twig' %}

{% block title %}La collection{% endblock %}

{% block stylesheets %}
{# ne gère pas les images, donc pour le moment : CDN #}
{# <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}"> #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
{% endblock %}

{% block body %}

{#Intégration de la collection#}
<div class="row backcolor">
    <div class="col-md-12 text-center">
        <h2>La Collection</h2>
    </div>
</div>

<div class="row backcolor">
    <div class="col-12 col-md-10 offset-md-1 mt-5">
        {% if vehicles is not empty %}
        <div class="d-flex flex-wrap justify-content-center">
            {% for vehicle in vehicles %}
                <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="thumbnail mw-100 mb-2 m-sm-3">
                    <div class="mw-100 img-thumbnail" style="background-image: url('{{ asset('images/pictures/' ~ vehicle.pictures[0]) }}');height:250px; width:450px; background-size: cover; background-position: center center;">
                    </div>
                    <p class="carlabel">{{ vehicle.brand }} {{ vehicle.model }}</p>
                </a>
                {# <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="list-group-item list-group-item-action">{{ vehicle.pictures }}</a> #}
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-danger">Aucune voiture disponible dans la collection.</div>
        {% endif %}
    </div>
</div>

<div class="row backcolor">
    <div class="col-2 offset-5">
    <h2 class=" pt-0 m-0 backcolor">Localisation</h2>
</div>
    <div class="my-4 mx-auto" id="map"></div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/leaflet.js') }}"></script>
<script src="{{ asset('js/api.openstreetmaps.js') }}"></script>
{% endblock %}