{% extends 'base.html.twig' %}

{% block title %}La collection{% endblock %}

{% block stylesheets %}
{# ne gère pas les images, donc pour le moment : CDN #}
{# <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}"> #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
{% endblock %}

{% block body %}
<div class="row">

    {#Intégration de la collection#}
    <div class="col-md-6">
        <h2 class="text-center my-3">La Collection</h2>

        <div class="d-flex flex-wrap justify-content-center justify-content-sm-around">
            {% if vehicles is not empty %}
                {% for vehicle in vehicles %}
                    <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="mw-100 text-decoration-none text-dark">
                        {# <div class="mw-100 img-thumbnail" style="background-image: url('{{ asset('images/pictures/' ~ vehicle.pictures[0]) }}');height:250px; width:450px; background-size: cover; background-position: center center;"> #}
                        <div class="mw-100 img-thumbnail"
                            {% if vehicle.pictures[0] is defined %}
                                style="background-image:url('{{ asset('images/pictures/' ~ vehicle.pictures[0]) }}');
                                height:250px; width:450px; background-size:cover; background-position:center center;"
                            {% endif %}
                        ></div>
                        <p class="">{{ vehicle.brand }} {{ vehicle.model }}</p>
                    </a>
                    {# <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="list-group-item list-group-item-action">{{ vehicle.pictures }}</a> #}
                {% endfor %}
            {% else %}
                <p class="alert alert-danger">Aucune voiture disponible dans la collection.</p>
            {% endif %}
        </div>

    </div>

    <div class="col-md-6">
        <h2 class="text-center my-3">La Localisation</h2>

        <div class="text-center">
            <p id="champ-food">remplir les champs dans l'ordre svp</p>
            <p>
                <label for="champ-city">Ville : </label>
                <input type="text" id="champ-city" placeholder="ville" value="">
            </p>
            <p>
                <label for="champ-distance">distance : </label>
                <input type="range" min="1" max="200" id="champ-distance" placeholder="25" value="">
            </p>
            <p id="value-distance"></p>
        </div>

        <div class="col-md-10 offset-md-1 vh-100 my-4 mx-auto" id="map"></div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/leaflet.js') }}"></script>
<script src="{{ asset('js/api.openstreetmaps.js') }}"></script>
{% endblock %}