{% extends "base.html.twig" %}
{% form_theme form "form_style.html.twig" %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
    {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success col-12">{{ message }}</div>
{% endfor %}
<div class="row">

        {# display none if screen maximum small. 6 columns in case of screen small
        background-image in the css : .img_home ; vh-100 for resizing #}
        <div class="d-none d-sm-block col-sm-6 img_home vh-100"></div>

    <div class="col-sm-6">
        <h2 class="text-center my-3">Contactez-nous</h2>

        <div class="row col-sm-4 offset-sm-4 d-inline-flex justify-content-center">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.from) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.body) }}

            {# Affichage du captcha avec la clé publique récupérée directement grâce à la passerelle faite dans twig.yaml #}
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
            </div>
            {{ form_row(form.save) }}

            {{ form_end( form )}}
        </div>

    </div>

</div>

{% endblock %}
