{% extends 'base.html.twig' %}

{% block title %}Votre Profil{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success col-12">{{ message }}</div>
    {% endfor %}
<div class="row backcolor">
    <h2 class="col-8 offset-2 text-center">Profil!</h2>

    <div class="col-6 offset-3">
        <div class="car-detail-tech">
            <ul class="pt-2">
                <li>Prénom:      {{ app.user.firstname }}</li>
                <li>Nom:      {{ app.user.lastname }}</li>
                <li>E-mail:      {{ app.user.email }}</li>
                <li>Téléphone:   {{ app.user.getPhoneNumber }}</li>
                <li>Ville : {{ app.user.city }}</li>
            </ul>
        </div>
        <div class="car-detail-tech">
            <ul class="pt-2">
                {% if vehicles is not empty %}
                <div class="d-flex flex-wrap justify-content-center">
                    {% for vehicle in vehicles %}
                        <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="thumbnail mw-100 mb-2 m-sm-3">
                            <div class="mw-100 img-thumbnail" style="background-image: url('{{ asset('images/pictures/' ~ vehicle.pictures[0]) }}');height:250px; width:450px; background-size: cover; background-position: center center;">
                            </div>
                            <p class="carlabel">{{ vehicle.brand }} {{ vehicle.model }}</p>
                        </a>
                        {# <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="list-group-item list-group-item-action">{{ vehicle.pictures }}</a> #}
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-danger">Aucune voiture disponible dans la collection.</div>
                {% endif %}
            </ul>
        </div>
        <div class="col text-center">
            <button type="input" class="btn btn-warning text-center mt-2 mb-4"><a class="carprof" href="{{ path('form_vehicle') }}">Ajouter un véhicule</a></button>
        </div></a>
    </div>
</div>

{% endblock %}