{% extends 'base.html.twig' %}
{% form_theme formProfil "form_style.html.twig" %}

{% block title %}Votre Profil{% endblock %}

{% block body %}
<div class="row">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success col-12">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger col-12">{{ message }}</div>
    {% endfor %}

    <div class="col-10 offset-1 container-fluid">

        <div class="row">
            {# T :: bootrap : penser à rajouter -sm- pour enfin pouvoir wrap en responsive #}
            <div class="col-sm-8">
                <h2 class="text-center my-3">Profil!</h2>
                <ul class="list-unstyled">
                    <li>E-mail : {{ app.user.email }}</li>
                    <li>Prénom : {{ app.user.firstname }}</li>
                    <li>Nom : {{ app.user.lastname }}</li>
                    <li>Code Postal: {{ app.user.postcode }}</li>
                    <li>Ville : {{ app.user.city }}</li>
                    <li>Téléphone : {{ app.user.phonenumber }}</li>
                    <li>Assurance : {{ app.user.insurancename }}</li>
                    {# ne doit pas afficher le rôle, pas ux-design #}
                    {# <li>Rôles : {% if app.user.roles is defined %}{% for role in app.user.roles %} {{ ' ' ~ role ~ ' ' }} {% endfor %}{% endif %}</li> #}
                    <li>Nombre de véhicules :
                        {% if vehicles is not empty %}
                            {{ vehicles|length }}
                            {# dump(vehicles) #}
                        {% else %}
                            0
                        {% endif %}
                    </li>
                    <li>Louez un véhicule !</li>
                </ul>

                {# <div class="car-detail-tech"> #}
                <div class="d-flex flex-wrap justify-content-center justify-content-md-around">
                {% if vehicles is not empty %}
                    {% for vehicle in vehicles %}
                        <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="mw-100 text-decoration-none text-dark">
                            <div class="mw-100 img-thumbnail"
                                {% if vehicle.pictures[0] is defined %}
                                    style="background-image: url('{{ asset('images/pictures/' ~ vehicle.pictures[0]) }}');
                                    height:250px; width:450px; background-size: cover; background-position: center center;"
                                {% endif %}
                            >
                            </div>
                            <p class="carlabel">{{ vehicle.brand }} {{ vehicle.model }}</p>
                        </a>
                        {# <a href="{{ path('car_detail', { id: vehicle.id }) }}" class="list-group-item list-group-item-action">{{ vehicle.pictures }}</a> #}
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-danger">Aucune voiture disponible dans la collection.</div>
                    {% endif %}
                </div>
                {# </div> #}

            </div>
            <div class="col-sm-4">
                {{ form(formProfil) }}
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-warning text-center text-decoration-none text-dark my-2" href="{{ path('form_vehicle') }}">Ajouter un véhicule</a>
        </div>
    </div>
</div>

{% endblock %}
