<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-dark d-flex flex-column h-100">
    {# variable qui récupère les routes #}
    {% set route = app.request.attributes.get('_route') %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-md-12 text-center title pb-3 display-2">Loc' Auto Vintage</h1>
        </div>
    </div>
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
            <a href="{{ path('home') }}#home" id="iconcolor"><img src="{{ asset('images/icon_new.jpg') }}" class="icon mb-2" alt="icon"></a>
            <a class="navbar-brand active ml-5" href="{{ path('home') }}#home">Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav pr-5">
                    <li class="nav-item {% if route == 'car_list' %} active {% endif %}"><a class="nav-link" href="{{ path('car_list') }}">La Collection</a></li>
                    {% if app.user %}
                    <li class="nav-item {% if route == 'profil' %} active {% endif %}"><a class="nav-link" href="{{ path('profil') }}">Profil</a></li>
                    <li class="nav-item {% if route == 'app_logout' %} active {% endif %}"><a class="nav-link" href="{{ path('app_logout') }}#logout">Déconnexion</a></li>
                    {% else %}
                    <li class="nav-item {% if route == 'app_login' %} active {% endif %}"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                    <li class="nav-item {% if route == 'app_register' %} active {% endif %}"><a class="nav-link" href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                    <li class="nav-item {% if route == 'contact' %} active {% endif %}"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-warning my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>
    </header>
    {#div body#}
    <div class="container-fluid bg-secondary">
    {% block body %}{% endblock %}
    </div>
    {#Footer#}
    <footer class="container mt-auto pb-5 textcolor">
        <div class="row bg-dark">
            <div class="col-md-4 mt-3">Contact:
                <span class="font-weight-bold">LocAutoVintage</span><br>
                <span>
                    <span><td>&nbsp;</td>07.85.01.01.01</span><br>
                    <span><td>&nbsp;</td>contact@locautovintage.com</span><br>
                </span>
            </div>
            <div class="col-md-4 mt-3 socialicons">
                <span><a href="{{ path('conditions_utilisation') }}" class="cgucolor" target="_blank" title="'Conditions Générales d'Utilisation' (Nouvelle fenêtre)">C.G.U.</a></span><br><br>
                <span><a href="https://www.facebook.com/" target="_blank" title="Nouvelle fenêtre" class="fa fa-facebook"></a></span>
                <span><a href="https://twitter.com/" target="_blank" title="Nouvelle fenêtre" class="fa fa-twitter"></a></span></li></span>
                <span><a href="https://www.instagram.com/" target="_blank" title="Nouvelle fenêtre" class="fa fa-instagram"></a></span><br>
            </div>
            <div class="col-md-4 mt-3" style="text-align: right;">©2020 LocAutoVintage</div>
        </div><br>
        <div class="row col-md-4 offset-5 pt-0"><br><br></div>
    </footer>
    {#Inclusion des Scripts#}
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {# <script src="{{ asset('js/api.openstreetmaps.js') }}"></script> #}
    {% block javascripts %}{% endblock %}
</body>
</html>